<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/css/images/teaching.png" type="image/x-icon" >
    

    <title> Feedback </title> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/feedback.css">
    <script src="https://kit.fontawesome.com/03b9268964.js" crossorigin="anonymous"></script>


</head>

<body>
    <header class="p-3 m-0 border-0 bd-example m-0 border-0">
        <nav class="navbar navbar-expand-lg bg-trasparent">
            <div class="container-fluid">
                  
                    <h1>
                        <img src="../static/css/images/logo-new.png" alt="Logo" class="logo"> 
                        <span style="font-size: 70px; color: #ffffff; font-weight: bold; margin-left: -50px;">Skill </span>
                        <span style="font-size: 70px; color: #f60e53; font-weight: bold;margin-left: 10px;">Assess</span>
                    </h1>
                    
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navigation">
                    <a href=/logout ><button class="button1" type="button">Logout <i class="fa-solid fa-right-from-bracket"></i> </button></a>
                </ul>
            </div>
        </nav>
    </header>

    <h1 class="report-title">Your Performance Report</h1>
    <!-- <div>
        <h2>Video Analysis Output</h2>
        {% for key, value in video_analysis_output.items %}
            <p>{{ key }}: {{ value }}</p>
        {% endfor %}
    </div>
    <div>
        <h2>Evaluation Feedback</h2>
        {% for key, value in feedback_dict.items %}
            <h3>{{ key }}</h3>
            <p>Rating: {{ value.0 }}/10</p>
            <p>{{ value.1 }}</p>
        {% endfor %}
    </div> -->

    <!-- Bar Graph for Video Analysis -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <hr/>

    <h3 class="head-text">Facial Analysis</h3>
    <div id="emotionChart" style="width: 100%; height: 500px;"></div>

    <script>
        google.charts.load('current', {
            packages: ['corechart']
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Emotion', 'Percentage'],
                ['Combined Angry_Fear', 46.48092588376465],
                ['Combined Sad_Disgust', 43.56963863100843],
                ['Confidence', 2.500290297556628],
                ['Surprise', 4.598605464230208],
                ['Neutral', 2.8505397234400838]
            ]);

            var options = {
                title: 'Emotion Analysis',
                legend: {
                    position: 'top'
                },
                bar: {
                    groupWidth: '80%'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('emotionChart'));

            chart.draw(data, options);
        }
    </script>


    <!-- Answer Evaluation -->
    <br> <br>
    <div>
        <h3 class="head-text"> Answer Evaluation </h3>
    </div>
    <div class="project-boxes jsGridView">
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #fee4cb">
            <div class="project-box-header">
  
              <div class="more-wrapper">
                <button class="project-btn-more">
                 
                </button>
              </div>
            </div>
  
            <div class="project-box-content-header">
              <p class="box-content-header">Leadership Potential</p>
                <!--  <p class="box-content-subheader">Prototyping</p> -->
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progress</p>
              <div class="box-progress-bar">
                <span
                  class="box-progress"
                  style="width: 60%; background-color: #ff942e"
                ></span>
              </div>
              <p class="box-progress-percentage">60%</p>
              
            </div>
            <div class="project-box-footer">
  
  
            </div>
            <p class="feedback-p">Feedback</p>
      <ul class="feedback-points">
        <li><strong>*</strong> Point 1</li>
  
      </ul>
            
          </div>
  
        </div>
     
        <div class="project-box-wrapper">
          <div class="project-box">
            <div class="project-box-header">
  
              <div class="more-wrapper">
                <button class="project-btn-more">
  
                </button>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">Teamwork and Collaboration</p>
                 <!--  <p class="box-content-subheader">Prototyping</p> -->
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progress</p>
              <div class="box-progress-bar">
                <span
                  class="box-progress"
                  style="width: 80%; background-color: #096c86"
                ></span>
              </div>
              <p class="box-progress-percentage">80%</p>
            </div>
            <div class="project-box-footer">
            </div>
            <p class="feedback-p">Feedback</p>
            <ul class="feedback-points">
              <li><strong>*</strong> Point 1</li>
        
            </ul>
          </div>
        </div>
  
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #ffd3e2">
            <div class="project-box-header">
  
              <div class="more-wrapper">
                <button class="project-btn-more">
                  
                </button>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">Motivation and Passion</p>
          <!--  <p class="box-content-subheader">Prototyping</p> -->
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progress</p>
              <div class="box-progress-bar">
                <span
                  class="box-progress"
                  style="width: 20%; background-color: #df3670"
                ></span>
              </div>
              <p class="box-progress-percentage">20%</p>
            </div>
            <div class="project-box-footer">
  
  
            </div>
            <p class="feedback-p">Feedback</p>
            <ul class="feedback-points">
              <li><strong>*</strong> Point 1</li>
            </ul>
          </div>
        </div>
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #c8f7dc">
            <div class="project-box-header">
  
              <div class="more-wrapper">
                <button class="project-btn-more">
                  
                </button>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">Adaptability and Learning Orientation</p>
                <!--  <p class="box-content-subheader">Prototyping</p> -->
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progress</p>
              <div class="box-progress-bar">
                <span
                  class="box-progress"
                  style="width: 60%; background-color: #34c471"
                ></span>
              </div>
              <p class="box-progress-percentage">60%</p>
            </div>
            <div class="project-box-footer">
  
  
            </div>
            <p class="feedback-p">Feedback</p>
            <ul class="feedback-points">
              <li><strong>*</strong> Point 1</li>
        
            </ul>
          </div>
        </div>
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #d5deff">
            <div class="project-box-header">
  
              <div class="more-wrapper">
                <button class="project-btn-more">
                  
                </button>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">Web Designing</p>
                 <!--  <p class="box-content-subheader">Prototyping</p> -->
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progress</p>
              <div class="box-progress-bar">
                <span
                  class="box-progress"
                  style="width: 40%; background-color: #4067f9"
                ></span>
              </div>
              <p class="box-progress-percentage">40%</p>
            </div>
            <div class="project-box-footer">
  
  
            </div>
            <p class="feedback-p">Feedback</p>
            <ul class="feedback-points">
              <li><strong>*</strong> Point 1</li>
        
            </ul>
            
  
  
          </div>
          
        </div>
        
      </div>
    </div>
  

</body>
</html>