
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Assess</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header class="p-3 m-0 border-0 bd-example m-0 border-0">
        <nav class="navbar navbar-expand-lg bg-transparent">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="fa-regular fa-bullseye-arrow"></i>
                    <h1>
                        <span style="font-size: 100px; color: hsl(0, 41%, 97%); font-weight: bold;">Skill </span>
                        <span style="font-size: 100px; color: #f60e53; font-weight: bold;">Assess</span>
                    </h1>
                      <h2 class="AMI" style="color: #000000;">AI Mock Interviewer</h2></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navigation">
                    <a href="/" ><button class="button1" type="button">Home</button></a>
                    <a href=/about ><button class="button1" type="button">About</button></a>
                    <a href=/login ><button class="button1" type="button">Login</button></a>
                    <a href=/register ><button class="button1" type="button">register</button></a>
                    <a href=/logout ><button class="button1" type="button">logout</button></a>
                </ul>
            </div>
        </nav>
    </header>
    <div class="main-section">
        <div class="custom-div">
            <div class="custom-text">
                <h1 style="font-size: 55px; margin-top: 50px;">Welcome to Mock Interview</h1>
                <p>Preparing you towards your job interviews</p>
                <a href="/resume_upload"><button class="start-button">Start <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="12"></a>
  <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" fill="white"/>
</svg>
</button>
            </div>
            <div>
                <img src="https://gradeazy.com/images/home/home-hero.png" alt="Student Image" style="width: 60vh; margin-bottom: 70px;">
            </div>
        </div>
    </div>
    <div>
        <h1 style="color: #000000; margin-left: 600px;"> FEATURES</h1>
    </div>
    <!-- section (below card)-->
    <section class="main-container">
        <div class="card">
            <div class="card-content">
                <img src="../static/css/images/1.png" alt="Card Image" width="100px" height="50px">
                <h2 style="color: #ff004c; font-family: Arial, Helvetica, sans-serif;" >Comprehensive Preparation</h2>
                <p style="color: #000000;">Equips candidates with the skills and confidence needed to excel in interviews.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="../static/css/images/2.png" alt="Card Image" width="100px" height="50px">
                <h2 style="color: #f60e53; font-family: Arial, Helvetica, sans-serif">Realistic Simulation</h2>
                <p style="color: #000000;;">Our app creates an immersive environment mirroring actual interview scenarios for the candidates.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="../static/css/images/3.png" alt="Card Image" width="100px" height="50px">
                <h2 style="color: #f60e53; font-family: Arial, Helvetica, sans-serif">Personalized Feedback</h2>
                <p style="color: #000000;">By analyzing responses, our app offers tailored feedback for candidates to identify strengths and areas to improve.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="../static/css/images/4.png" alt="Card Image" width="100px" height="50px">
                <h2 style="color: #f60e53; font-family: Arial, Helvetica, sans-serif">Confidence Building</h2>
                <p style="color: #000000;;"></p>Through realistic practice and guidance, our app helps candidates boost their confidence for successful interviews.</p>
            </div>
        </div>
    </section>
    <!-- image : https://tse1.mm.bing.net/th?id=OIP._wfKsqaDlhOjo___eUnNxgHaE0&pid=Api&P=0&h=180 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
