body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* navbar skill assess logo */
.logo {
    width: 300px;
    margin-top: -10px;
    margin-left: -50px;
}

.container-fluid {
    border-bottom: 2px solid #333;
    background-color: #3FC1C9;
    box-shadow: 0 5px 10px rgba(246, 14, 83, 0.3);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.droplet-path {
    margin-top: 50px;
    position: relative;
    width: 480px;
    height: 500px;
    background-color: #f60e53;
    border-radius: 50%;
    clip-path: circle(50% 20% at 50% 100%);
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

.boy-img {
    width: 60%;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

/* Main Section */
.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.custom-div {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    width: 100%;
}
.button1 {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #f60e53;
    border-radius: 4px;
    padding: 10px;
    margin-right: 16px;
    font-size: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.button1:hover {
    background-color: #f60e53;
    color: white;
}

.button1:active {
    background-color: #f60e53;
    box-shadow: 0 5px #f60e53;
    transform: translateY(4px);
}

.form .button:active {
    background-color: #f60e53;
    box-shadow: 0 5px #f60e53;
    transform: translateY(4px);
}

/* navbar skill assess logo  ends here */


/* feedback design starts here */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

.projects-section {
  flex: 2;
  background-color: var(--projects-section);
  border-radius: 32px;

  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.projects-section-line {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.projects-section-header {
    
  position: sticky;
  top: 0;
  z-index: 1;

  background-color:  var(--projects-section);
  color: var(--main-color);
}

.message-line {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  color: var(--secondary-color);
  opacity: .7;
}

.message-line.time {
  text-align: right;
  margin-bottom: 0;
}

.project-boxes {
    margin: 0 10px 20px;
    overflow-y: auto;
    display: flex; /* Add display:flex */
    flex-wrap: nowrap; /* Change flex-wrap to nowrap */
  }
  
  .project-box-wrapper {
    width: calc(50% - 16px); /* Adjust the width to fit two boxes in a row */
    padding: 8px 10px 20px ;
    transition: .2s;
  }
  
.project-boxes.jsListView .project-box {
  display: flex;
  border-radius: 10px;
  position: fixed;
}

.project-boxes.jsListView .more-wrapper {
    position: fixed;
  right: 16px;
  top: 16px;
}

.project-boxes.jsListView .project-box-content-header {
  order: 1;
  max-width: 120px;
}

.project-boxes.jsListView .project-box-header {
  order: 2;
}

.project-boxes.jsListView .project-box-footer {
  order: 3;
  padding-top: 0;
  flex-direction: column;
  justify-content: flex-start;
}

.project-boxes.jsListView .project-box-footer:after {
  display: none;
}

.project-boxes.jsListView .participants {
  margin-bottom: 8px;
}

.project-boxes.jsListView .project-box-content-header p {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-boxes.jsListView .project-box-header > span {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 12px;
}

.project-boxes.jsListView .box-progress-wrapper {
  order: 3;
  flex: 1;
}

.project-box {
  --main-color-card: #dbf6fd;
  border-radius: 30px;
  padding: 16px;
  background-color: var(--main-color-card);
}

.project-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: var(--main-color);
}

.project-box-header span {
  color: #4A4A4A;
  opacity: .7;
  font-size: 14px;
  line-height: 16px;
}

.project-box-content-header {
  text-align: center;
  margin-bottom: 16px;
}

.project-box-content-header p {
  margin: 0;
}

.project-box-wrapper {
  padding: 8px;
  transition: .2s;
}

.project-btn-more {
  padding: 0;
  height: 24px;
  width: 24px;
  position: fixed;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
}

.more-wrapper {
    position: fixed;
}

.box-content-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  opacity: .7;
}

.box-content-subheader {
  font-size: 14px;
  line-height: 24px;
  opacity: .7;
}

.box-progress {
  display: block;
  height: 4px;
  border-radius: 6px;
}

.box-progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  margin: 8px 0;
}

.box-progress-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
}

.box-progress-wrapper {
  
}

.box-progress-percentage {
  text-align: right;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.project-box-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  position: relative;
}

.project-box-footer:after {
  content: '';
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  width: calc(100% + 32px);
  top: 0;
  left: -16px;
  height: 1px;
}
