body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


/* navbar skill assess logo */
.logo {
    width: 300px;
    margin-top: -10px;
    margin-left: -50px;
}

.container-fluid {

    border-bottom: 2px solid #333;
    background-color: #3FC1C9;
    /* Use border-bottom instead of border to create a bottom border */
    box-shadow: 0 5px 10px rgba(246, 14, 83, 0.3);
    /* Adjust the box shadow for a more subtle effect */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.droplet-path {
    margin-top: 100px;
    position: absolute;
    width: 480px;
    height: 500px;
    background-color: #f60e53;
    /* Red color for the droplet path */
    border-radius: 50%;
    clip-path: circle(50% 20%, 100% 100%, 0% 100%);
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}


.boy-img {
    width: 60vh;
    margin-bottom: 70px;
    position: relative;
    z-index: 2;
}

/* Main Section */
.main-section {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.custom-div {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    width: 100%;
}

/* Custom Text */
.custom-text {
    text-align: center;
    color: #e6e2e2;
    padding: 1em;
    padding-top: 2em;
    flex: 1;
}

.custom-text h1 {
    font-size: 2.7em;
    margin-bottom: 10px;
    color: #f60e53;
}

.custom-text p {
    font-size: 1.1em;
    margin-bottom: 25px;
    color: #f60e53;

}

/* Start Button */
.start-button {
    padding: 10px 25px;
    background-color: white;
    color: #f60e53;
    border: 2px solid black;
    /* Added border style */
    border-radius: 10px;
    cursor: pointer;
    font-size: 2em;
}

.start-button:hover {
    background-color: #f60e53;
    color: #fff;
}

/* Custom Image */
.custom-image {
    max-width: 100%;
    height: auto;
    padding: 1em;
    flex: 1;
}

/* Media Queries */
@media (max-width: 768px) {
    .custom-text {
        padding-top: 0;
    }

    .custom-text h1 {
        font-size: 2.1em;
        margin-bottom: 10px;
    }

    .custom-text p {
        font-size: 0.8em;
        margin-bottom: 25px;
    }

    .custom-image {
        max-width: 100%;
        height: auto;
        padding: 1em;
        flex: 1;
    }
}

@media (min-width: 768px) {
    .custom-text {
        text-align: left;
    }
}

/* Main Container (Card Section) */
.main-container {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -150px;
}

/* Card Styling */
.card {
    width: 320px;
    margin: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(246, 49, 89, 0.678);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Card Content Styling */
.card-content {
    padding: 20px;
    text-align: center;
}

.card-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-content h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.card-content p {
    font-size: 0.9rem;
    color: #777;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Responsive Text Styles Adjustments */
@media (max-width: 700px) {
    .card-content h2 {
        font-size: 1.2rem;
        margin: 8px 0;
    }

    .card-content p {
        font-size: 0.85rem;
        margin-bottom: 10px;
    }

    .card {
        width: calc(100% - 40px);
    }
}



.button1 {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #f60e53;
    border-radius: 4px;
    padding: 10px;
    margin-right: 16px;
    font-size: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.button1:hover {
    background-color: #f60e53;
    color: white;
}

.button1:active {
    background-color: #f60e53;
    box-shadow: 0 5px #f60e53;
    transform: translateY(4px);
}

.form .button:active {
    background-color: #f60e53;
    box-shadow: 0 5px #f60e53;
    transform: translateY(4px);
}




/* footer css */
.footer {
    background-color: #3FC1C9;
    padding: 40px 0;
    color: #333;
}

.footer h3 {
    color: #f60e53;
}

.footer p {
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: #333;
    font-size: 24px;
}

.social-icons a:hover {
    color: #f60e53;
}