body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(3, 182, 190);
    background: linear-gradient(90deg, rgba(3, 182, 190, 1) 29%, rgba(255, 255, 255, 1) 100%);
  }
  
  .main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
  }
  
  .custom-div {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    width: 100%;
  }
  
  #question-container {
    margin-top: -500px;
    text-align: center;
    margin-left: 800px;
    width: 500px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0rem 0.2rem 0.5rem #03045E, 0rem 0.2rem 0.5rem #FFFFFF;
    border-radius: 3rem;

  }
  
  #question {
    color: #03045E;
    font-size: 23px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-style: normal;
    
  }
  
  #question2 {
    color: #03045E;
    height: 55%;
    margin-top: 40px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 50px;
    border: 2px solid #f60e53;
    text-align: justify;
  }
  
  #timer {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    color: #03045E;
    margin-top: -20px;
    margin-left: 400px;
  }
  

  
  #audio-container {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    background-color: #00ba16;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button-stop {
    background-color: #f60e53;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  

  
#audio-player {
    width: 100%;
    margin-top: 10px;
  }
  
  .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
 /* Removed 'transparent' for better visibility */
    border: 2px solid #f60e53;
    width: 550px; /* Removed quotes around the values */
    height: 480px; /* Removed quotes around the values */
    margin: 20px; /* Adjust margin as needed */
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0rem 0.2rem 0.5rem #03045E, 0rem 0.2rem 0.5rem #FFFFFF;
    border-radius: 3rem;
  }
  
/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  #question-container {
      margin-left: 5%;
      width: 90%;
  }
  #timer {
      margin-left: 5%;
  }
}
